.avatar-card {
    width: 164px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 2px 8px var(--grey-2);
    overflow: hidden;
}

.avatar {
    width: 102px;
    height: 102px;
    display: inline-block;
}

.avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-card__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: var(--grey-2);
}

.avatar-card__label {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--black);
    line-height: 24px;
    margin: 0;
}