@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --blue: #374FC7;
    --blue-2: #2342C0;
    --calen-title-blue: #334D6E;
    --calen-weekdays: #90A0B7;
    --calen-boundary-backgr: #4263EB;
    --calen-inside-backgr: rgba(160, 177, 245, 0.2);
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --link-blue: #4263EB;
    --grey5: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}
