.skeleton {
  width: 100%;
  max-width: 579px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 32px 40px 32px 24px;
  box-sizing: border-box;
  background: var(--white);
}

/* Аватар + инфо о пользователе */
.skeleton__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.cskeleton__avatar {
  width: 64px;
  height: 64px;
  background-color: var(--grey-2);
  border-radius: 50%;
}

/* Инфо о пользователе - имя и ник */
.skeleton__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__username {
  height: 20px;
  width: 172px;
  background: var(--skeleton-gradient);
}

.skeleton__nick {
  height: 20px;
  width: 257px;
  background: var(--skeleton-gradient);
}

.skeleton__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__line {
  height: 20px;
  width: 100%; 
  background: var(--skeleton-gradient);
}