.tooltip {
    position: relative;
    display: inline-block;
}

/* Иконка */
.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: var(--black);
}

/* Всплывающая подсказка */
.tooltip__content {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6px;
    
    width: 129px;
    height: 45px;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--calendar-boundary-background);
    
    border-radius: 10px;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

/* Текст внутри подсказки */
.tooltip__content p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-2);
    text-align: center;
    margin: 0;
}

/* Стрелочка */
.tooltip__content::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid var(--calendar-boundary-background);
}

/* Показать подсказку */
.tooltip:hover .tooltip__content {
    opacity: 1;
    visibility: visible;
}
