.footer {
    height: 237px;
    text-align: center;
    font-family: 'Inter';
    color: var(--black);
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
}

.footer__text {
    width: 640px;
    height: 96px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}