.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/* Сокрытие чекбокса по умолчанию */
.checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Свой чекбокс */
.checkbox__box {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    background-color: var(--white);
    position: relative;
    flex-shrink: 0;
}

/* Галочка */
.checkbox__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 13px;
    fill: white;
    opacity: 0;
}

/* Лейбл */
.checkbox__label {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-4);
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}

/* hover */
.checkbox:hover .checkbox__box {
    border-color: var(--calen-boundary-backgr);
}

/* focus (для лейбла) */
.checkbox__input:focus ~ .checkbox__label {
    text-decoration: underline;
}

/* checked */
.checkbox__input:checked ~ .checkbox__box {
    background-color: var(--calen-boundary-backgr);
    border-color: var(--calen-boundary-backgr);
}

.checkbox__input:checked ~ .checkbox__box .checkbox__icon {
    opacity: 1;
}

/* disabled */
.checkbox__input:disabled ~ .checkbox__box {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
    cursor: not-allowed;
}

.checkbox__input:disabled ~ .checkbox__label {
    color: var(--grey-2);
    cursor: not-allowed;
}

.checkbox:has(.checkbox__input:disabled) {
    cursor: not-allowed;
}

/* checked + disabled */
.checkbox__input:checked:disabled ~ .checkbox__box {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

/* focus + disabled */
.checkbox__input:focus:disabled ~ .checkbox__box {
    outline: none;
}