.page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

.page__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    /* По умолчанию - самая маленькая - 400px */
    background-image: url('public/forest_400.jpg');
}

/* От 400px - загружаем 768px */
@media (min-width: 400px) {
    .page__background {
        background-image: url('public/forest_768.jpg');
    }
}

/* От 768px - загружаем 1024px */
@media (min-width: 768px) {
    .page__background {
        background-image: url('public/forest_1024.jpg');
    }
}

/* От 1024px - загружаем 2560px */
@media (min-width: 1024px) {
    .page__background {
        background-image: url('public/forest_2560.jpg');
    }
}