.input-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

.input {
    display: block;
    width: 350px;
    height: 56px;
    margin-bottom: 24px;
    padding: 0 16px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
}

.input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.input-icon .input {
    margin-bottom: 0;
    padding-right: 52px;
}

.icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

/* Стили для заголовков h5 */
h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-3);
    margin-bottom: 8px;
}

/* :focus */
.input:focus {
    border-color: var(--blue);
    outline: none;
}

/* _success */
.input_success {
    border-color: var(--grey-2);
}

.input_success + .icon {
    fill: var(--blue);
}

/* _success:focus */
.input_success:focus {
    border-color: var(--grey-2);
}

/* _invalid */
.input_invalid {
    border-color: var(--red);
}

.input_invalid + .icon {
    fill: var(--red);
}

/* _invalid:focus */
.input_invalid:focus {
    border-color: var(--red);
}
